.register__form {
    width: 800px;
    border-radius: 11px;
}

.btn-primary {
    background-color: #0d6efd;
    width: 300px;
}

.select {
    color: #000;
}

.item__container {
    margin-right: 100px;
}

label {
    text-transform: uppercase;
}

