h1 {
    color: var(--main-color);
    font-size: 4rem;
    margin-top: 150px;
}

.link {
    color: var(--dark);
    margin-left: 10px;
    text-decoration: underline;
}

.link:hover {
    color: var(--main-color);
}

.shopping__img {
    width: 200px;
}