.navbar {
  background-color: var(--dark);
}

.navLogo {
  width: 60px;
  margin-left: 50px;
}

.navbar a {
  color: var(--white);
  font-size: 1.3rem;
}

.navbar li {
  margin-right: 30px;
}

.navbar-nav {
  margin-left: 600px;
}

span {
  color: var(--main-color);
}

.signup , .logout {
  background-color: var(--main-color);
  padding: 5px 10px;
  margin-top: 5px;
}

.login {
  border: 1px solid var(--white);
  padding: 5px 10px;
  margin-top: 3px;
}
