.details__wrapper {
  background-color: var(--dark-light);
  color: var(--white-light);
  border-radius: 11px;
  margin-top: 150px;
  width: 60%;
}

.info__wrapper {
  margin-left: 40px;
}

.details__img {
  width: 200px;
}